$form-generator-input-border-color: #c6d0dd;
$form-generator-input-border-color-invalid: #c00;
$form-generator-input-height: 38px;
$form-generator-input-border-radius: 5px;
$form-generator-input-border-width: 2px;
$form-generator-input-font-size: 14px;
$form-generator-input-side-padding: 7px;

.form__generator {
    display: block;
    padding: 0 24px 24px;

    .form__input__invalid {
        border-color: $form-generator-input-border-color-invalid;
    }

    .form_input__hidden {
        display: none;
    }
}

%form--label-wrapper,
.form__label_wrapper {
    box-sizing: border-box;
    display: block;
    padding: 8px 0;
}

.form__label_wrapper__invalid {
    background-color: $form-generator-input-border-color-invalid;
}

%form--input,
.form__input {
    border: $form-generator-input-border-width solid $form-generator-input-border-color;
    border-radius: $form-generator-input-border-radius;
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    font-size: $form-generator-input-font-size;
    height: $form-generator-input-height;
    padding: 0 $form-generator-input-side-padding;
    width: 100%;
}

.form__input_list_wrapper {
    display: flex;
    flex-direction: row;
}

.form__input__with_button {
    margin-right: 20px;
}

.form__label_description {
    display: block;
    font-size: 16px;
    margin-bottom: 6px;

    &.form__label_description__invalid {
        color: $form-generator-input-border-color-invalid;
    }
}
