@import '../field';

.text_area__label_wrapper {
    @extend %form--label-wrapper;

    height: auto;
    min-height: 194px;
}

.text_area__input {
    @extend %form--input;

    min-height: $form-generator-input-height * 4;
    padding-top: 7px;
    resize: vertical;
}
